.logo-frame {
    display: flex;
    flex-direction: row;
    height: 20px;
}
.logo-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;

    padding: 0.5rem;
    background-color: var(--background-color);
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}
.ctr-man {

    width: 10vw;
}
.logo-main {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 40px;
    flex-direction: row;
}   
.logo-text {
    font-size: 3rem;
}
