.active-order {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    height:90%
}
.border-title{
    border-bottom: 1px solid rgb(0, 247, 255);
    margin-bottom: 10px;
}
.device-info-container {
    width: 40%;
    height: 100%;
}
.info-container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.active-order-main {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.note-section {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    margin-bottom: 10px;
    width: 90%;
}